<section class="table-container" (scroll)="handleScroll($event)">
    <table mat-table [dataSource]="dataSource">
        <ng-container [matColumnDef]="column" *ngFor="let column of data.columns">
            <th mat-header-cell *matHeaderCellDef> {{column | replaceDash | titlecase}} </th>
            <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="column === 'picture' && element[column] !== 'Not Available'; else text">
                    <img [src]="element[column]" alt="profile photo">
                </ng-container>
                <ng-template #text>{{element[column] ? element[column] : 'Not Available'}}</ng-template>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>
</section>
