table {
  width: 100%;

  border: 1px solid #eeeeee;
}

.table-container {
  height: 63vh;
  overflow: auto;
}

img {
  height: 50px;
  border-radius: 100px;
  border: 1px solid #eee;
  margin-top: 7px;
}
