.app-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav-container {
  flex: 1;
  background: #eee;
}

mat-sidenav {
  padding: 50px;
}
mat-sidenav-content {
  padding: 25px;
}

mat-card {
  padding: 25px 50px 50px;
}

h1.app-name {
  margin-left: 8px;
}

img {
  height: 85px;
}
