.options {
  display: flex;
  padding-top: 17px;
  gap: 15px;

  @media only screen and (max-width: 990px)  {
    flex-direction: column;
    margin-bottom: 15px;
    align-items: stretch;
  }
}

.title-items {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px 0;

  button {
    margin-top: -17px;
  }
}
