<mat-card-title>
    <div class="title-items">
        Users
        <button mat-raised-button color="accent" (click)="downloadCsv($event)" data-testid="csv-button">Download CSV</button>
    </div>
</mat-card-title>
<mat-divider></mat-divider>
<mat-card-content>
    <div class="options">
        <app-input [inputConfig]="filterInput" (inputValue)="handleFilterInput($event)"></app-input>
<!--        <app-select [selectDropdownConfig]="filterGender" (selectedValue)="passSelected($event)"></app-select>
        <app-select [selectDropdownConfig]="filterNationality" (selectedValue)="passSelected($event)"></app-select>-->
        <app-multi-select [selectionConfig]="columnSelectionConfig" (selectedItems)="updateItems($event)"></app-multi-select>
    </div>
    <app-table [data]="data" (fetchData)="handleFetchRequest($event)"></app-table>
</mat-card-content>
